
.jumbotron{
	text-align: center;
}
table {

font-family: verdana;
font-size: 20px;


}
h2{

text-align: center;
font-family: verdana;
font-size: 40px;
background-color: yellow;


}

footer{



	text-align: center;
	background-color: #5bc0de;
	padding: 20px;
        margin-top: 2%;
}

thead {
    
    font-family: verdana;
    font-weight:bold;
    
}

 


nav li a {
   
   top: 0;
    color: white;
    
    
    
}
li{
    list-style-type: none;
    text-decoration: none;
    margin-top: 2%; 
    
}
.right{
    float:right;
  
    
    
}


.middle{
    margin-left: 40%;
    
    
    
}
h4{
    text-align: center;
}

.mt{
    margin-top:2%;
    
    
}
.navbar-success{
    	background-color: #5bc0de;
	padding: 20px;
}

.form-control{
    
    margin-bottom: 2%;
    
}


.left{
    
    float: left;
    
}
